.leftSidebar {
  background-color: rgba(242, 242, 242, 1);
  min-width: 200px;
}
@media (max-width: 1024px) {
  .leftSidebar {
    display: none;
  }
}

.menu {
  padding: 20px 0px 0px 10px;
}

.item {
  margin-bottom: 8px;
}

.link {
  font-size: 12px;
  color: #134b83;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: capitalize;
}

.link:hover {
  text-decoration: underline;
}

.form {
  padding-left: 10px;
  position: relative;
}

.input {
  padding: 3px;
  outline: none;
}
.btn {
  position: absolute;
  cursor: pointer;
  font-size: 16px;
  right: 16px;
  top: 4px;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #606060;
}
