.button {
  font-size: 12px;
  background-color: transparent;
  color: rgba(102, 102, 102, 1);
  font-weight: normal;
  border-radius: 3px;
  border: 1px solid rgba(215, 215, 215, 1);
  padding: 6px 10px 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 200ms all ease;
  margin-right: 5px;
}

.button:hover {
  background-color: transparent;
  background: rgba(34, 34, 34, 1);
  color: rgba(255, 255, 255, 1);
  border-color: rgba(34, 34, 34, 1);
}
