.wrap {
  /* display: flex;
  justify-content: space-between; */
}

.leftColumn {
  width: 49%;
}
.rightColumn {
  width: 49%;
}

.img {
  height: 430px;
  object-fit: cover;
  width: 100%;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .img {
    height: auto;
  }
}

.title {
  margin-top: 0;
}

.item {
  height: 110px;
  padding: 0px 14px;
  outline: none;
  width: 200px !important;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.columnLeft,
.columnRight {
  width: 48%;
}

.imgSl {
  object-fit: cover;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.imgSl:hover {
  transform: scale(1.05);
}

.sliderWrap {
  position: relative;
  max-width: 800px;
  min-width: 320px;
}
.slickButton {
  position: absolute;
  top: 40%;
  z-index: 99;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}
.slickPrev {
  left: -25px;
  padding: 0;
}
.slickNext {
  right: -25px;
  padding: 0;
}

@media (max-width: 900px) {
  .slickPrev {
    left: -20px;
    padding: 0;
    padding-left: 3px;
  }
  .slickNext {
    right: -20px;
    padding: 0;
    padding-right: 3px;
  }

  .title {
    font-size: 22px;
  }
}
