.wrap {
  margin-bottom: 50px;
}

.leftColumn {
  width: 49%;
}
.rightColumn {
  width: 49%;
}

.iframe {
  height: 500px;
}

@media (max-width: 767px) {
  .iframe {
    height: 300px;
  }
}

.title {
  margin-top: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.columnLeft,
.columnRight {
  width: 48%;
}

@media (max-width: 900px) {
  .title {
    font-size: 22px;
  }
}
