.wrap {
  padding: 30px 22px 30px 21px;
  background-color: #f2ecec;
}
.title {
  font-weight: bold;
  color: #134b83;
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 20px;
}
.imgTitle {
  font-size: 14px;
  color: #134b83;
  display: inline-block;
}
.wrapButton {
  position: relative;
}
.item {
  padding: 0 16px;
}
.slickButton,
.slickButton {
  position: absolute;
  color: rgba(153, 153, 153, 1);
  font-size: 15px;
  background-color: rgba(68, 68, 68, 1);
  border: 1px solid rgba(102, 102, 102, 1);
  cursor: pointer;
  padding: 4px 8px;
  top: -3px;
  transition: 200ms all ease;
  outline: none;
  font-size: 12px;
}

.slickButton:hover {
  background-color: rgba(80, 80, 80, 1);
  color: rgba(255, 255, 255, 1);
}
.slickButton {
  position: absolute;
}

.slickPrev {
  left: 115px;
}
.slickNext {
  left: 155px;
}
