.title {
  margin: 0;
  color: rgba(153, 153, 153, 1);
  font-size: 24px;
  text-transform: capitalize;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.imgTitle {
  font-size: 14px;
  display: block;
}
.list {
  /* padding-right: 0px;
  padding-left: 0px; */
  margin-left: auto;
  position: relative;
  margin-right: auto;
}
.item {
  margin-bottom: 30px;
}
