.wrap {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  margin-bottom: 20px;
}
.linkTitle {
  color: rgba(34, 34, 34, 1);
  font-size: 14px;
  margin-bottom: 7px;
  display: inline-block;
  font-weight: 700;
}

.linkTitle:hover {
  transition: all 200ms ease;
  color: rgba(102, 102, 102, 1);
}
.content {
  color: rgba(153, 153, 153, 1);
  font-size: 13px;
}

.views {
}

.views::after {
  display: inline-block;
  content: "/";
  color: inherit;
  margin-left: 8px;
  margin-right: 8px;
}
