.wrap {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(215, 215, 215, 1);
  margin-bottom: 20px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.imgBig {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.title {
  margin: 0;
  color: rgba(153, 153, 153, 1);
  font-size: 24px;
}
.content {
  display: flex;
}
.columnLeft {
  margin-right: 10px;
  width: 60%;
}
.columnRight {
  width: 40%;
}

.link {
  text-decoration: none;
}
.imgTitle {
  text-decoration: none;
  display: block;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 7px;
}
.pictureWrap {
  position: relative;
  height: 100%;
}
.linkImg {
  display: block;
  height: 100%;
}
.imgText {
  text-decoration: none;
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
}
.blockText {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.text:first-child::after {
  content: '/';
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.innerWrap:first-child {
  padding-bottom: 10px;
}

.gradient {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 60%;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );

  opacity: 0.8;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
}

@media (max-width: 767px) {
  .content {
    flex-direction: column;
  }
  .columnLeft {
    width: 100%;
    margin-bottom: 10px;
  }
  .columnRight {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .innerWrap {
    width: 49%;
  }

  .innerWrap:first-child {
    padding-bottom: 0px;
  }

  .hiddenMobile {
    display: none;
  }
  .blockText {
    left: 10px;
    bottom: 10px;
  }
  .imgTitleMin {
    padding-bottom: 0px;
  }
}
