.items {
  background-color: #eff1f2;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.item {
  flex-basis: 31%;
  margin-bottom: 15px;
}

.item:not(:nth-child(3n + 3)) {
  margin-right: 2%;
}

.link,
.titleLink {
  text-decoration: none;
}

.titleLink {
  font-size: 11px;
  color: #134b83;
  margin-bottom: 7px;
  display: block;
}

.titleLink:hover {
  text-decoration: underline;
}

.img {
  padding: 3px;
  border: 1px solid #464646;
  margin-bottom: 5px;
}

.text,
.price {
  margin-top: 0;
}

.text {
  margin-bottom: 5px;
}
