.wrap {
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 173px;
}

.openSidebar {
  display: none;
}

.iconLeft {
  position: absolute;
  left: 172px;
  top: 11px;
}

.logoWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1250px) {
  .openSidebar {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
  }
}

.block {
  padding: 30px;
}
.stickyBlock {
  padding: 10px 30px;
}
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: all 200ms ease;
}
.menu {
  display: flex;
}
.menuLink {
  color: #fff;
  display: block;
  padding: 40px 30px;
}
.stickyLink {
  padding: 10px 30px;
}
.item {
  position: relative;
}
.iconMenu {
  margin-right: 7px;
}
.iconArrow {
  margin-left: 3px;
  font-size: 16px;
}
.menuLink:hover {
  color: rgba(153, 153, 153, 1);
}

.loginLink {
  text-decoration: none;
  color: rgba(245, 235, 78, 1);
  font-weight: 700;
  transition: all 200ms ease;
  cursor: pointer;
}
.loginLink:hover {
  color: rgba(153, 153, 153, 1);
}
.iconAbsolute {
  position: relative;
}
.input {
  margin: 0;
  background-color: rgba(51, 51, 51, 1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 10px 15px 10px 15px;
  outline: none;
  padding-right: 45px;
  color: rgba(153, 153, 153, 1);
  border-radius: 3px;
}
.iconInput {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgba(153, 153, 153, 1);
}
.item:hover .subMenu {
  display: block;
}
.subMenu {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(36, 36, 36, 1);
  position: absolute;
  top: 100%;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0);
  background-color: #444444;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.subMenuItem:first-child {
  border-top: 3px solid rgba(217, 37, 29, 1);
  position: relative;
}
.subMenuLink {
  display: block;
  background-color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(36, 36, 36, 1);
  padding: 8px 20px 7px 20px;
  min-width: 150px;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
  color: #fff;
  font-size: 14px;
  transition: 200ms all ease;
}
.subMenuLink:hover {
  color: #9a9a9a;
}

@media (max-width: 1250px) {
  .block {
    padding: 20px 15px;
  }
  .stickyBlock {
    padding: 10px 10px;
  }
  .stickySubmenu {
    top: 100%;
  }
  .menuLink {
    padding: 25px 15px;
  }
  .wrap {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 1024px) {
  .wrap {
    display: none;
  }
  .mobileWrap {
    display: block;
  }
}

/* mobileMenu */
.mobileWrap {
  background-color: #262626;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.mobileLeft {
  display: flex;
  align-items: center;
}
.mobileBlock {
  color: #fff;
}
.iconMobile {
  font-size: 18px;
  cursor: pointer;
}
.mobileBlockIcon {
  cursor: pointer;
  margin-right: 30px;
  position: relative;
}
.stickyItem {
  padding: 12px 0;
}
.item:hover .stickyLink {
  color: #9a9a9a;
}
.mobileBlockIcon:first-child::after {
  content: '|';
  display: block;
  position: absolute;
  font-size: 2px;
  height: 100%;
  background-color: rgba(153, 153, 153, 1);
  color: rgba(153, 153, 153, 1);
  top: 0;
  right: -16px;
  pointer-events: none;
}
.mobileText {
  margin-right: 10px;
  text-transform: uppercase;
}
.iconMobileInput {
}
.mobileInput {
  position: absolute;
  left: 20px;
  width: 145px;
  margin: 0;
  background-color: rgba(51, 51, 51, 1);
  outline: none;
  color: rgba(153, 153, 153, 1);
  border-radius: 3px;
  padding: 7px 5px;
  border: none;
  top: 6px;
}

@media (max-width: 1024px) {
  .mobileWrap {
    display: flex;
  }
}
