.title {
    font-size: 18px;
    color: #134b83;
    font-weight: bold;
    margin-bottom: 7px;
    padding-bottom: 7px;
    margin-top: 0;
    border-bottom: 1px dashed #464646;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
  }
  
  .selectWrap {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .text {
    margin: 0;
    margin-right: 10px;
  }
  .select {
  }
  
  .pagination {
    display: flex;
    justify-content: flex-end;
  }
  .pagItem {
    display: block;
    margin-right: 3px;
    padding: 5px;
    cursor: pointer;
  }
  
  .pagItem:hover {
    background-color: #134b83;
    transition: all 200ms ease;
    color: #fff;
  }
  