.footer {
  display: block;
  width: 100%;
  /* background-color: #eaeced; */
  background: url('http://www.female-fighting.net/WebRoot/StoreTypes/7.38.0/Strato/SF/ImageSet/BasicGrey/bgr_bottom_floatin.png')
    no-repeat right top transparent;
  border-top: 1px solid rgba(204, 204, 204, 1);
  padding: 5px 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  color: #464646;
  font-size: 12px;
  margin-right: 9px;
}

.link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.icon {
  color: inherit;
  font-size: 9px;
  margin-right: 2px;
}

.text {
  text-align: right;
  font-size: 12px;
}
