.wrap {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  margin-bottom: 20px;
}
.iconWrap {
  font-size: 12px;
  line-height: 1;
  width: 26px;
  height: 26px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.07);
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: -1px;
}

.absolute {
  position: absolute;
  top: 47%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: #fff;
  background-color: #000;
  border-radius: 0;
  opacity: 0;
  transition: all 200ms ease;
}
.picture:hover .absolute {
  opacity: 1;
}
.link {
  text-decoration: none;
  color: rgba(34, 34, 34, 1);
  font-size: 18px;
  font-weight: 700;
  display: block;
  line-height: 1.2;
}
.titleItem {
  margin-top: -4px;
  margin-bottom: 0;
}
.link:hover {
  text-decoration: underline;
}
.title {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.item {
  display: flex;
}
.item:not(:last-child) {
  margin-bottom: 20px;
}
.picture {
  width: 100px;
  margin-right: 12px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
